[Unit]
# metadata and dependencies
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
# Service specify the user and group under which our process will run.
User=pi

# give group ownership to the www-data group so that Nginx can communicate easily with the Gunicorn processes.
Group=www-data

# We'll then map out the working directory and set the PATH environmental variable so that the init system knows where our the executables for the process are located (within our virtual environment).
WorkingDirectory=/home/pi/pidoorbell/server
Environment="PATH=/home/pi/pidoorbell/server"

# We'll then specify the commanded to start the service
ExecStart=gunicorn --workers 2 --log-file=stderr.log --bind unix:app.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
